/* General styles */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
ice-card + ice-card {
  margin-top: 15px;
}

ice-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form ice-button {
  float: right;
  margin-top: 15px;
}
